.card{
    margin-top: 20px;
}
.card img{
    width: 100%;
    max-height: 400px;
}
.card a{
    margin: 15px;
    padding: 10px;
}
.card .instagram-button{
  background-color: #405DE6;
  color: #FFFFFF;
}
.card p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.card{
    background-color: #c18256;
}