<div class="card text-center">
    <div class="card-header">
        Redes Sociales
    </div>
    <div class="card-body">
        <h5 class="card-title"><img
                src="https://static.vecteezy.com/system/resources/previews/014/897/912/original/coffee-house-horizontal-banner-with-a-glass-mug-of-multi-layered-hot-cappuccino-with-lush-foam-of-whipped-cream-food-illustration-for-shop-cafe-bar-barista-flyer-advertising-promo-menu-vector.jpg"
                alt=""></h5>
        <p class="card-text">Siguenos en nuestras redes</p>
        <a href="#" class="btn btn-primary">Facebook</a>
        <a href="#" class="btn btn-success">WhatsApp</a>
        <a href="#" class="btn instagram-button">Instagram</a>
    </div>
</div>