<body class="custom-background">
    <div class="teoria teoria_h1">
      <h1>Historia del Café</h1>
      <p>
        La historia del café es fascinante y está llena de mitos, leyendas y descubrimientos que se remontan a siglos
        atrás.
        Aquí te presento una breve visión general:
      </p>
      <h2>Orígenes legendarios:</h2>
      <p>
        La leyenda más conocida sobre el descubrimiento del café cuenta la historia de un pastor llamado Kaldi, quien
        vivía
        en Etiopía alrededor del siglo IX. Se dice que un día, Kaldi observó a sus cabras comportándose de manera muy
        enérgica después de comer bayas rojas de un arbusto desconocido. Intrigado, decidió probar las bayas él mismo y
        experimentó una sensación similar. Llevó las bayas al monasterio local, donde los monjes las utilizaron para
        preparar una bebida que los mantenía despiertos durante las largas horas de oración.
      </p>
      <h2>Expansión del café:</h2>
      <p>
        Desde Etiopía, el café se extendió a través de la Península Arábiga, donde se cultivaba en gran medida en Yemen.
        Fue
        en Arabia donde se comenzó a tostar y moler el café para preparar una bebida similar a la que conocemos hoy en
        día.
        La popularidad del café se extendió rápidamente por toda la región, convirtiéndose en una parte integral de la
        cultura árabe.
      </p>
      <h2>Café en Europa:</h2>
      <p>
        El café llegó a Europa a través de comerciantes y viajeros que visitaban el Medio Oriente. La primera cafetería
        europea conocida se abrió en Venecia en el siglo XVI, y pronto surgieron cafeterías en toda Europa. El café se
        convirtió en una bebida de moda entre la élite intelectual y social, y las casas de café se convirtieron en
        centros
        de discusión y debate.
      </p>
      <h2>Café en América:</h2>
      <p>
        A principios del siglo XVIII, los colonos europeos introdujeron el café en América, específicamente en el Caribe y
        América del Sur. Las plantaciones de café se establecieron en países como Brasil, Colombia y Cuba, donde el café
        se
        convirtió en un importante producto de exportación y contribuyó significativamente a la economía de la región.
      </p>
      <h2>El café en la actualidad:</h2>
      <p>
        Hoy en día, el café es una de las bebidas más populares del mundo, consumida en todas las regiones y culturas. Se
        cultivan una variedad de tipos de café en diferentes partes del mundo, cada uno con sus propios sabores y
        características únicas. El café ha evolucionado de una bebida ritual a una industria global que abarca desde
        pequeñas cafeterías independientes hasta grandes cadenas internacionales. Su historia rica y diversa continúa
        influenciando la forma en que lo cultivamos, lo preparamos y lo disfrutamos en la actualidad.
      </p>
    </div>
    <div class="metodos">
      <h1>Métodos de extracción del café</h1>
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active btn-custom" data-bs-toggle="modal"
          data-bs-target="#1" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Cafetera de goteo o de filtro</h5>
            <small>Metodo de goteo</small>
          </div>
          <p class="mb-1">Este método utiliza un filtro de papel para contener el café molido. El agua caliente se vierte
            sobre el café molido y se filtra a través del filtro, extrayendo gradualmente los sabores y aceites del café.
          </p>
          <small>Click para mas informacion</small>
        </button>
        <button type="button" class="list-group-item list-group-item-action active btn-custom" data-bs-toggle="modal"
          data-bs-target="#2" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Prensa francesa</h5>
            <small>cafetera de émbolo</small>
          </div>
          <p class="mb-1">También conocida como cafetera de émbolo, este método implica mezclar café molido con agua
            caliente en una jarra y luego empujar lentamente el émbolo hacia abajo para separar el café del líquido.
          </p>
          <small>Click para mas informacion</small>
        </button>
        <button type="button" class="list-group-item list-group-item-action active btn-custom" data-bs-toggle="modal"
          data-bs-target="#3" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Espresso</h5>
            <small>(Espresso)</small>
          </div>
          <p class="mb-1">El café molido se comprime en un portafiltro y se fuerza agua caliente a alta presión a través
            de él. Esto produce una pequeña cantidad de café altamente concentrado y con un sabor intenso.
          </p>
          <small>Click para mas informacion</small>
        </button>
        <button type="button" class="list-group-item list-group-item-action active btn-custom" data-bs-toggle="modal"
          data-bs-target="#4" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Método pour-over</h5>
            <small>Método pour-over</small>
          </div>
          <p class="mb-1">En este método, el agua caliente se vierte gradualmente sobre el café molido en un filtro,
            permitiendo que el agua se filtre lentamente a través del café y extraiga los sabores de manera uniforme.
          </p>
          <small>Click para mas informacion</small>
        </button>
        <button type="button" class="list-group-item list-group-item-action active btn-custom" data-bs-toggle="modal"
          data-bs-target="#5" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Aeropress</h5>
            <small>(Aeropress)</small>
          </div>
          <p class="mb-1">Este método implica presionar aire caliente a través del café molido utilizando un dispositivo
            de presión, lo que produce un café con un sabor suave y equilibrado en poco tiempo.
          </p>
          <small>Click para mas informacion</small>
        </button>
  
  
      </div>
      <div class="modal fade" id="1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Cafetera de goteo o de filtro</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h2>Mas detalles</h2>
             <p>Tiempo de preparación: Aproximadamente 5 minutos.
                Tamaño típico de molienda: Medio a grueso.
                Cantidad de café producido por ciclo: Generalmente de 1 a 12 tazas.
                Notas de sabor características: Suave, equilibrado, ideal para el consumo diario.</p>
                <img src="https://cafe.onlifetop.com/wp-content/uploads/2022/06/341320711-1.jpg" alt="">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
     
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Prensa francesa (cafetera de émbolo)</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
             <h2>Mas detalles</h2>
             <p>Tiempo de preparación: Aproximadamente 4 minutos.
              Tamaño típico de molienda: Grueso.
              Cantidad de café producido por ciclo: Varía según el tamaño de la prensa francesa.
              Notas de sabor características: Café robusto, cuerpo completo, sabores ricos.</p>
                <img src="https://perfectdailygrind.com/es/wp-content/uploads/sites/2/2020/04/sonny-ravesteijn-53A4xySzRic-unsplash-683x1024.jpg" alt="">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Espresso</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h2>Mas detalles</h2>
             <p>Tiempo de preparación: 25-30 segundos.
              Tamaño típico de molienda: Fino.
              Volumen de café producido por disparo: Aproximadamente 1 onza líquida.
              Notas de sabor características: Intenso, concentrado, con una crema espesa en la parte superior</p>
                <img src="https://perfectdailygrind.com/wp-content/uploads/2017/08/20170614-0759-e1502287251234.jpg" alt="">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
   
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Método pour-over</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h2>Mas detalles</h2>
             <p>Tiempo de preparación: Aproximadamente 3-4 minutos.
              Tamaño típico de molienda: Medio a fino.
              Cantidad de café producido por ciclo: Generalmente una taza a la vez.
              Notas de sabor características: Claridad en los sabores, cuerpo ligero a medio, acidez brillante.</p>
                <img src="https://media-cdn.tripadvisor.com/media/photo-m/1280/1d/ed/d9/f8/pour-over-metodo-filtrado.jpg" alt="">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Aeropress</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h2>Mas detalles</h2>
             <p>Tiempo de preparación: Aproximadamente 1-2 minutos.
              Tamaño típico de molienda: Fino.
              Volumen de café producido por ciclo: Aproximadamente una taza.
              Notas de sabor características: Suave, limpio, con un perfil de sabor completo.
              </p>
                <img src="https://m.media-amazon.com/images/I/51XOfRwkN7L._AC_UF894,1000_QL80_.jpg" alt="">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>