<body>
    <main  >
    <h1>Bienvenido a la Experiencia del Café</h1>
    <p>
        ¡Descubre el apasionante mundo del café con nosotros! En esta página, 
        te llevaremos a un viaje sensorial a través de los aromas, sabores y tradiciones de esta bebida tan apreciada en todo el mundo.
         Desde sus humildes orígenes hasta sus elaboradas preparaciones modernas, exploraremos cada faceta del café y te guiaremos a través de una experiencia única que despertará tus sentidos.
    </p>
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <img src="https://www.thespruceeats.com/thmb/HJrjMfXdLGHbgMhnM0fMkDx9XPQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/what-is-espresso-765702-hero-03_cropped-ffbc0c7cf45a46ff846843040c8f370c.jpg" class="d-block w-100" height="900px" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Espresso</h5>
              <p> El espresso es la base de muchas otras preparaciones de café y es conocido por su sabor intenso y concentrado. Podrías incluir una imagen de un espresso perfectamente preparado con su característica crema en la parte superior</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Caffe_Latte_at_Pulse_Cafe.jpg/1200px-Caffe_Latte_at_Pulse_Cafe.jpg" class="d-block w-100 " height="900px"  alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Café Latte</h5>
              <p>El café latte es una bebida cremosa hecha con espresso y leche vaporizada. Podrías mostrar una imagen de un café latte con su característica capa de espuma en la parte superior.</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="https://dairyfarmersofcanada.ca/sites/default/files/styles/recipe_image/public/image_file_browser/conso_recipe/2022/Capuccino.jpg.jpeg?itok=J1pWPwe2" class="d-block w-100" height="900px" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Cappuccino</h5>
              <p>El cappuccino es otra preparación popular que combina espresso, leche vaporizada y espuma de leche.
                 Podrías incluir una imagen de un cappuccino con su distintiva capa de espuma de leche.</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="https://cdn.recetasderechupete.com/wp-content/uploads/2023/11/Cafe-americano-portada.jpg" class="d-block w-100" height="900px" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Café Americano</h5>
              <p> El café americano es una bebida más suave hecha añadiendo agua caliente al espresso. Podrías mostrar una imagen de un café americano con su color claro y aroma suave.</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="https://images.immediate.co.uk/production/volatile/sites/2/2021/11/Macchiato-4cea4fd.png?quality=90&resize=556,505" class="d-block w-100" height="900px" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Macchiato</h5>
              <p>El macchiato es una bebida similar al espresso pero con una pequeña cantidad de leche vaporizada o espuma de leche añadida. Podrías incluir una imagen de un macchiato con su característica mancha de leche en la parte superior.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </main>
    asd
    </body>