
main{
    max-width: 1500px;
    margin: 0 auto;

    
}
.custom{
    background-color: rgba(255, 255, 255, 0.5);
}
h1{
    margin-bottom: 15px;
    text-align: center;
    color: rgb(255, 115, 0);
    border-bottom: 2px solid rgb(211, 191, 174);
}
p{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
.carousel-caption {
    background-color: rgba(252, 123, 53, 0.655);
    border-radius: 15px;
}